{% extends "base.html" %}

{% block content %}
<div class="container" style="display: flex; justify-content: center; align-items: center; height: 100vh">
    <div class="col text-center">
        <h1>API GATE</h1>
        <p class="lead">SODA API GATE</p>
    </div>
</div>
{% endblock %}
