{% extends "base.html" %}

{% block content %}

<div class="container py-5">
        <div class="row">
            <div class="card bg-danger card-cascade card-ecommerce wider shadow mb-5 ">
                <!--Card Body-->
                <div class="card-body card-body-cascade text-center">
                    <!--Card Title-->
                    <h4 class="card-title text-white"><strong>{{context["tender"].name}}</strong></h4> <!-- Card Description-->
                    <p class="card-text text-white" >{{context["tender"].number}}</p>
                    <p class="price text-white">{{context["tender"].price}}</p> <!-- Card Rating-->
                    <!--Card footer-->
                    <div class="card-footer text-white">
                        <p>{{context["tender"].link}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card bg-primary  card-cascade card-ecommerce wider shadow mb-5 ">
                <!--Card Body-->
                <div class="card-body card-body-cascade text-center">
                    <!--Card Title-->
                    <h4 class="card-title text-white"><strong><a href="">{{context["customer"].offer_descr}}</a></strong></h4> <!-- Card Description-->
                    <p class="card-text text-white">{{context["customer"].name}}</p>
                    <p class="price text-white">{{context["customer"].inn}}</p> <!-- Card Rating-->
                    <p class="price text-white">{{context["customer"].email}}</p> <!-- Card Rating-->
                    <p class="price text-white">{{context["customer"].phone}}</p> <!-- Card Rating-->
                    <!--Card footer-->
                    <div class="card-footer text-white">
                        <p>{{context["customer"].link}}</p>
                    </div>
                </div>
            </div>
        </div>
        {% for supplier in context['suppliers'] %}
        <div class="col-sm">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <!--Card Body-->
                <div class="card-body card-body-cascade text-center">
                    <!--Card Title-->
                    <h4 class="card-title"><strong><a href="">{{supplier.offer_descr}}</a></strong></h4> <!-- Card Description-->
                    <p class="card-text">{{supplier.name}}</p>
                    <p class="price">{{supplier.price}}</p> <!-- Card Rating-->
                    <!--Card footer-->
                    <div class="card-footer">
                        <p>{{supplier.link}}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}